<% if @posts.empty? && params[:page].nil? %>
  <div class="post">
    <p class="no_results">We're sorry, but nothing was found that meets your stringent requirements. Please lower your standards and try your search again.</p>
  </div>
<% else %>
  <% for post in @posts %>
  <div id="post_<%= post.id %>" class="post">
    <div class="post_number large">#<%= post.id %></div>  
    <div class="post_inner">
      <h4 class="post_title"><%= link_to post.title, post %></h4>
      <div class="post_meta">
      <% if can? :update, post %>
        <%= link_to "Edit", edit_post_path(post) %>
      <% end %>
      <% if can? :destroy, post %>
        <%= link_to "Delete", post, :confirm => 'Are you sure?', :method => :delete %>
      <% end %>
      <%= link_to "Comments", post_path(post) + "#disqus_thread", {"data-disqus-identifier" => disqus_identifier(post)} %>
      </div>
      <div class="post_content">
      <%= post.content.to_html.html_safe %>
      </div>
      <div class="post_footer">
        <div class="post_tag_list">
        <% unless post.tags.empty? %>
          <% for tag in post.tags %>
            <%= link_to tag.name, tag_url(tag.name) %>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>

<%= paginate @posts %>